/** Applicerar stilen på inmatnings- och kryssrutor **/
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.form fieldset {
  width: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

.form legend {
  width: inherit;
  padding: 0.3rem 0rem;
  margin: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 20px;
}

.form input {
  width: inherit;
  height: 50px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 0 0.5rem;
  margin: 0;
  border-radius: 5px;
  border: 2px solid var(--brand-accent);
  color: var(--brand-on-surface);
}

/** Se till att inmatnings- och kryssrutorna kan kommas åt via assisterande teknik **/
.form input:focus {
  outline: 3px double var(--brand-on-surface);
  outline-offset: 2px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-top: 0.6rem;
}