/** Aplicerar stilen för webbplatsens logotyp **/
.logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
}

.logo a img {
  width: fit-content;
  height: 40px;
}

/** Se till att elementet kan kommas åt via assisterande teknik **/
.logo a:focus {
  outline: 3px double var(--brand-on-surface);
  outline-offset: 8px;
}
