/** Applicera stilen på huvudinnehållet **/
#main {
  width: var(--main-w-mobile);
  margin: 0;
  padding: 0;
  padding-bottom: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: var(--brand-on-surface);
  box-sizing: border-box;
}




