/** Applicera stilen på alla version 2 primära knappar och knapplänkar (sådana som utlöser negerande aktioner) **/
.prim-var-btn {
  all: unset;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: 500;
  border: none;
  background-color: var(--brand-primary-variant);
  color: var(--brand-on-primary);
  border-radius: 5px;
  margin: 0.5rem 0;
  cursor: pointer;
}

/** Se till att knapparna kan kommas åt via assisterande teknik **/
.prim-var-btn:focus {
  outline: 3px double var(--brand-on-surface);
  outline-offset: 2px;
}

/** Applicera hover-effekten **/
.prim-var-btn:hover {
  background-color: var(--brand-accent-variant);
}

/** Byt stilen när knappen pressas **/
.prim-var-btn:active {
  background-color: var(--brand-primary);
}