/** Denna behållare ska se till att knappar fortsätter att vara synliga även om innehållet scrollas. **/
.toolbar {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  background-color: var(--brand-background);
  gap: 0.5rem;
  padding: 0.5rem;
  border-top: 1px solid var(--brand-accent);
}

.toolbar .prim-btn, 
.toolbar .prim-var-btn {
  width: 50%;
}

.single-choice .prim-btn {
  width: 100%;
}



