/** Applicera stilen på 'Avboka' och 'Ändra' knapparna för kort som visar bokad resa **/
.travel-btns {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.travel-btn {
  width: 100px;
  height: 40px;
  background-color: var(--brand-secondary);
  color: var(--brand-on-secondary);
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/** Byt stilen på knappen beroende på dess nuvarande tillstånd**/
.travel-btn:focus {
  outline: 3px double var(--brand-on-surface);
  outline-offset: 2px;
}

.travel-btn:hover {
  background-color: var(--brand-accent-secondary);
}

.travel-btn:active {
  background-color: var(--brand-secondary);
}